@mixin  clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

@mixin absolute-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin  grid-mixin($columns,$row-gap,$column-gap) {
    display: grid;
    grid-template-columns: repeat($columns,1fr);
    grid-gap: $row-gap $column-gap;
}

@mixin btn($bg,$color) {
    background-color: $bg;
    border: 2px solid $bg_yellow;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px 20px;
    line-height: 1.6;
    font-family: $info-style;
    @include midscreen{
        padding: 5px 10px;
        font-size: 12px;
    }
    @include mid-screen1{
        font-size: 12px;
    }
    @include mediumscreen{
        font-size: 14px;
    }
    @include verysmallscreen{
        line-height: 2;
        font-size: 13px;
    }
    @include galaxyfold{
        padding: 2px 10px;
        font-size: 12px;
    }
        text-decoration: none;
        color: $color;
        font-weight: 900;
        font-size: 16px;
       
    }

    @mixin overlay{
        &::before{
            content: '';
            position: absolute;
            background-color: rgba(0,0,0,0.7);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }

    @mixin radial {
        content: '';
        position: absolute;
        width: 40rem;
        height: 40rem;
        filter: blur(80px);
        background: radial-gradient(circle,$bg_yellow 0%,20%,transparent 60%);
        @include mobile{
            width: 20rem;
            height: 20rem;
        }
        @include verysmallscreen{
            width: 20rem;
            height: 20rem;
        }
        @include midscreen{
            width: 20rem;
            height: 20rem;
        }
        @include mid-screen1{
            width: 20rem;
            height: 20rem;
        }
        @include galaxyfold{
            width: 20rem;
            height: 20rem;
        }
    }

    @mixin noise {
        &::before{
            content: "";
            background-image: url(noise.svg);
            background-size: 200px 166px;
            background-position: center;
            background-repeat: repeat;
            opacity: 0.3;
            height: 100%;
            z-index: -1;
            width: 100%;
            position: absolute;
        }
    }

@mixin body-design {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
}