@import 'variables';
@import 'mixins';
@import 'responsive-mixin';

body{
    margin: 0;
}

div{
    box-sizing: border-box;
    h2,h3,h4{
        font-family: $heading-style;
        font-weight: normal;
    }
    h2{
        font-size: 170px;
        @include galaxyfold{
            font-size: 35px;
        }
        @include verysmallscreen{
            font-size: 45px;
        }
        @include mobile{
            font-size: 50px;
        }
        @include ipad{
            font-size: 110px;
        }
        @include midscreen{
            font-size: 70px;
        }
        @include mediumscreen{
            font-size: 95px;
        }
        @include tab{
            font-size: 122px;
        }
    }
    h3{
        font-size: 50px;
        @include galaxyfold{
            font-size: 11px;
        }
        @include verysmallscreen{
            font-size:15px;
        }
        @include mobile{
            font-size:20px;
        }
        @include ipad{
            font-size: 38px;
        }
        @include midscreen{
            font-size: 22px;
        }
        @include mediumscreen{
            font-size: 32px;
        }
        @include tab{
            font-size: 45px;
        }
    }
    p{
        font-family: $info-style;
    }
}

svg{
    width: 200px;
    height: 200px;
}

.box{
    background-color: black;
    width: 100%;
}

.body1{
    background-color: $bg_black;
    @include noise;
    @include body-design;
   
    .bg-noise{
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
        top: -30%;
        @include radial;
        @include ipad{
            top: -60%;
        }
        @include mediumscreen{
            top: -60%;
        }
        @include galaxyfold{
            top: -60%;
        }
        @include tab{
            top: -40%;
        }
    }
    
    #searchplace{
        display: none;
        background-color: transparent;
        color: $bg_grey;
        border-bottom: 2px solid $bg_grey;
        font-family: $info-style;
    }

    ::placeholder{
        color: $bg_grey;
    }

    .collapse{
        display: none;
        text-align: center;
        padding: 10px;
        height: 100%;
        z-index: 1;
        width: 100%;
       ul{
           list-style-type: none;
           padding: 0;
           li{
            padding: 25px;
            border-bottom: 0.5px dashed $bg_grey;
            a{
                cursor: pointer;
                font-family: $info-style;
                font-size: 25px;
                text-decoration: none;
                color: $bg_grey;
                font-weight: bold;
                &:hover{
                    text-decoration: underline !important;
                }
            }
           } 
       }
    }
    
    
    .content{
        position: relative;
        
        .flower{
            position: absolute;
            right: 40px;
            width: 10%;
            text-align: center;
           
            &-img{
                position: relative;
                width: 100%;
                height: 100%;
            }
            .text01{
                color: $bg_grey;
                font-size: 25px;
                font-family: $heading-style;
                @include absolute-mid;
                @include galaxyfold{
                    font-size: 8px;
                }
                @include verysmallscreen{
                    font-size: 12px;
                }
                @include mobile{
                    font-size: 12px;
                    margin-top: -5px;
                }
                @include ipad{
                    font-size: 25px;
                }
                @include mediumscreen{
                    font-size: 15px;
                    margin-top: -3px;
                }
                @include tab{
                    font-size: 30px;
                }
                @include midscreen{
                    font-size: 18px;
                    margin-top: -3px;
                }
            }
        }
        .image-wrapper {
            position: relative;
            text-align: center;
            width: 35%;
            height: 100%;
            margin: 0 auto;
            z-index: 0;
          }
          .image{
            img{
                width: 100%;
                height: 100%;
            }
        }
          .ethical {
            h2 {
              top: 50%;
              transform: translateY(-50%);
              margin: 0;
              color: $bg_yellow;
              position: absolute;
              left: -92%;
              position: absolute;
              z-index: -1;
              &.stroke {
                color: transparent;
                -webkit-text-stroke:$text-outline;
                z-index: 2;
              }
            }
          }
          .fashion{
            h2 {
                top: 60%;
                color: $bg_yellow;
                right: -92%;
                margin: 0;
                position: absolute;
                z-index: -1;
                &.stroke {
                  color: transparent;
                  -webkit-text-stroke:$text-outline;
                  z-index: 2;
                }
              }
            }
            .content1{
                position: absolute;
                width: 53%;
                text-align: left;
                top: 70%;
                left: -275px;
                @include galaxyfold{
                   left: -70%;
                   width: 70%;
                }
                @include midscreen{
                   left: -70%;
                   width: 70%;
                }
                @include verysmallscreen{
                    left: -80px;
                    width: 60%;
                }
                @include mobile{
                    width: 65%;
                    left: -70%;
                }
                @include mediumscreen{
                   left: -70%;
                   width: 65%;
                }
                @include tab{
                    width: 70%;
                }
                @include ipad{
                    left: -70%;
                    width: 70%;
                }
                p{
                    color: $bg_grey;
                    font-style: italic;
                    font-size: 13px;
                    font-weight: bold;
                    @include verysmallscreen{
                        font-size: 6px;
                    }
                    @include mobile{
                        font-size: 8px;
                    }
                    @include midscreen{
                        font-size: 10px;
                    }
                    @include galaxyfold{
                        font-size: 5px;
                    }
                    @include mediumscreen{
                        font-size: 12px;
                    }
                }
                a{
                    @include btn($bg_yellow,$bg_black);
                    margin: 0 auto;
                    @include verysmallscreen{
                        padding: 1px 5px;
                        font-size: 8px;
                    }
                    @include mobile{
                        padding: 1px 5px;
                        font-size: 8px;
                    }
                    @include galaxyfold{
                        font-size: 5px;
                        padding: 1px 4px;
                    }
                    @include midscreen{
                        padding: 1px 10px;
                    }
                    
                }
            }
        }
        .container{
            z-index: 0;
        }
    .navbar{
        height: auto;
        z-index: 1;
        .icons{
            float: right;
        }
        i{
            cursor: pointer;
        }
    }

    .arrow{
        margin: 20px auto;
        width: max-content;
    }
    
    i{
        color: $bg_yellow;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 3px;
    }

    
}

.container{
    width: 1000px;
	height: 100%;
	margin: 0 auto;
    padding: 50px 0;
    @include galaxyfold{
        width: 220px;
        padding: 20px 0;
    }
    @include verysmallscreen{
        width: 270px;
        padding: 20px 0;
    }
    @include mobile{
        width: 350px;
        padding: 20px 0;
    }
    @include midscreen{
        width: 450px;
        padding: 20px 0;
    }
    @include mediumscreen{
        width: 100%;
        max-width: 620px;
        padding: 20px;

    }
    @include ipad{
        width: 760px;
    }
    @include tab{
        width: 900px;
    }
}

.body2{
    background-color: $bg_yellow;
    @media screen and (min-width:768px) {
        padding: 100px 0;
    }
    .bg-image{
        position: absolute;
        bottom: 15%;
        width: 25%;
        transform: rotate(160deg);
        left: -3%;
    }
    .bg-image1{
        position: absolute;
        top: 15%;
        width: 25%;
        right: -3%;
   }
    @include body-design;
    i{
        color: black;
        font-size: 30px;
        margin-right: 10px;
        @include verysmallscreen{
            font-size: 15px;
        }
        @include galaxyfold{
            font-size: 10px;
        }
        @include mobile{
            font-size: 18px;
        }
    }
    #faded{
        opacity: 0.5;
    }
    .container{
        padding: 50px 0;
    }

    .content2{
        text-align: center;
        width: 65%;
        margin: 0 auto;
        @include verysmallscreen{
            width: 70%;
        }
        @include mobile{
            width: 75%;
        }
        
        p{
            font-size: 15px; 
            font-style: italic;  
            @include ipad{
                font-size: 20px;
            }
            @include verysmallscreen{
                font-size: 12px;
            }        
            @include mobile{
                font-size: 15px;
            }
            @include midscreen{
                font-size: 12px;
            }
            @include galaxyfold{
                font-size: 10px;
            }
            @include mediumscreen{
                font-size: 20px;
            }
            @include tab{
                font-size: 20px;
            }
        }
    }
}

.body3{
    background-color: $bg_black;
    .b3-radial{
        @include radial;
        transform: rotate(90deg);
        top: 5%;
        right: -20%;
        filter: blur(50px);
        @include verysmallscreen{
            top: 2%;
            right: -40%;
        }
        @include ipad{
            right:-40%;
        }
        @include mediumscreen{
            right: -40%;
        }
        @include midscreen{
            right: -30%;
        }
        @include galaxyfold{
            top: 1%;
            right: -60%;
        }
        @include tab{
            right: -30%;
        }
    }
    .b3-radial2{
        @include radial;
        transform: rotate(-90deg);
        bottom: 27%;
        left: -20%;
        filter: blur(50px);
        @include verysmallscreen{
            left: -40%;
        }
        @include ipad{
            left: -40%;
        }
        @include mediumscreen{
            left: -40%;
        }
        @include midscreen{
            left: -30%;
            bottom: 50%;
        }
        @include galaxyfold{
            left: -60%;
        }
        @include tab{
            left: -30%;
        }
    }
    @include noise;
   
    @include body-design;
    .f1{
        position: absolute;
        bottom: 22%;
        right: -10%;
        width: 25%;
        @include verysmallscreen{
            bottom: 25%;
            width: 30%;
        }
        @include mobile{
            bottom:25%;
            width: 30%;
        }
        @include ipad{
            bottom: 25%;
        }
        @include mediumscreen{
            bottom: 28%;
        }
        @include galaxyfold{
            bottom: 25%;
            width: 40%;
            right: -20%;
        }
        @include tab{
            bottom: 22%;
            width: 25%;
        }
        @include midscreen{
            bottom: 40%;
        }
    }
    .f2{
        position: absolute;
        bottom: 0%;
        left: -5%;
        width: 10%;
        @include verysmallscreen{
            width: 15%;
        }
    }
    
    h2{
        text-align: center;
        color: $bg_yellow;
        margin: 0 0 60px 0;
        @include galaxyfold{
            margin: 0 0 20px 0;
        }
        span{
            color: transparent;
            -webkit-text-stroke: $text-outline;
        }
    }
    .grid-container{
        @include grid-mixin(2,0,100px);
        
        @include mobile{
            grid-template-columns: auto;
            grid-row-gap: 20px;
        }
        @include galaxyfold{
            grid-template-columns: auto;
            grid-row-gap: 20px;
        }
    
        @include verysmallscreen{
            grid-template-columns: auto;
            grid-row-gap: 20px;
        }
        @include ipad{
            grid-column-gap: 60px;
        }
        @include midscreen{
            grid-column-gap: 60px;
        }
        .grid2,.grid4{
            margin-top: 100px;
            @include verysmallscreen{
                margin:0 ;
            }
            @include mobile{
                margin: 0;
            }
            @include galaxyfold{
                margin: 0;
            }
            @include midscreen{
                margin-top: 60px;
            }
        }
        .grid1,.grid2,.grid3,.grid4{
            z-index: 2;
        }
        img{
            width: 100%;
        }
        a{
            @include btn(transparent,$bg_yellow);
            float: right;
        }
        .shop{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .b3-text{
            color: $bg_grey;
            h4{
                 margin: 0;
                 font-size: 25px;
                @include midscreen{
                    font-size: 12px;
                }
                @include galaxyfold{
                    font-size: 15px;
                }
                @include verysmallscreen{
                    font-size: 20px;
                }
                @include mediumscreen{
                    font-size: 20px;
                }
            }
            p{
                margin: 0;
                font-size: 16px;
            }
        }
        
    }
    
    .arrow-div{
        margin: 70px auto;
        width: max-content;
        text-align: center;
        
        i{
            color: $bg_yellow;
            font-weight: 900;
        }
        p{
            color: $bg_grey;
        }
    }

    .body3-2{
        
        h3{
            padding-right: 20%;
            -webkit-text-stroke: $text-outline;
            color: transparent;
            text-align: left;    
            font-size: 70px; 
            @include galaxyfold{
                font-size: 20px;
                padding-right: 0;
            } 
            @include verysmallscreen{
                font-size: 22px;
                padding-right: 10%;
            }   
            @include mobile{
                font-size: 25px;
            }
            @include ipad{
                font-size: 54px;
            }
            @include midscreen{
                font-size: 35px;
                padding: 0;
            }
            @include mediumscreen{
                font-size: 50px;
                padding-right: 0;
            }
            @include tab{
                padding-right: 15%;
            }
        }

        .grid-container{
            @include grid-mixin(2,50px,100px);
            @include mobile{
                grid-template-columns: auto;
                grid-row-gap: 0px;
            }
            @include galaxyfold{
                grid-template-columns: auto;
                grid-row-gap: 0px;
            }
            @include verysmallscreen{
                grid-template-columns: auto;
                grid-row-gap: 0px;
            }
            @include midscreen{
                grid-template-columns: auto;
                grid-row-gap: 0px;
            }
            color: $bg_grey;
            p{
                font-size: 16px;
                line-height: 1.5;
                @include verysmallscreen{
                    font-size: 12px;
                }
                @include galaxyfold{
                    font-size: 10px;
                }
                @include mediumscreen{
                    font-size: 13px;
                }
            }
            h4{
                @include verysmallscreen{
                    font-size: 10px;
                }
                @include galaxyfold{
                    font-size: 8px;
                }
                @include mobile{
                    font-size: 10px;
                }
                @include midscreen{
                    font-size: 10px;
                }
            }
        }
    }
}

.body4{
    @include body-design;
    background-color: $bg_black;
    @include noise;
    height: $height;
    .b4-radial{
        @include radial;
        width: 65rem;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        @include mobile{
            top: 70%;
        }
        @include verysmallscreen{
            top: 70%;
        }
        @include ipad{
            top: 20%;
        }
        @include mediumscreen{
            top: 20%;
        }
       @include galaxyfold{
           top: 60%;
       }
       @include tab{
           top: 30%;
       }
    }
   
    .wrapper{
        @include grid-mixin(2,0,0);
        @include mobile{
            grid-template-columns: auto;
        }
        @include galaxyfold{
            grid-template-columns: auto;
        }
        @include verysmallscreen{
            grid-template-columns: auto;
        }
        .w1,.w2,.w3,.w4{
            position: relative;
        }
        img{
            width: 100%;
            height: 100%;
        }
        .image-caption{
            position: absolute;
            z-index: 1;
            overflow-wrap: break-word;
            color: $bg_yellow;
            width: 35%;
            text-align: center;
            margin:auto;
            bottom: 30px;
            left: 0;
            right: 0;
            @include verysmallscreen{
                width: 60%;
            }
            @include galaxyfold{
                width: 60%;
                bottom: 15px;
            }
            @include mobile{
                width: 58%;
            }
            @include ipad{
                width: 50%;
            }
            @include mediumscreen{
                width: 50%;
            }
            @include midscreen{
                width: 70%;
                bottom: 15px;
            }
            h4{
                margin: 0;
                font-size: 20px;
                @include mobile{
                    font-size: 16px;
                }
                @include verysmallscreen{
                    font-size: 14px;
                }
                @include galaxyfold{
                    font-size: 14px;
                }
                @include midscreen{
                    font-size: 14px;
                }
                @include mediumscreen{
                    font-size: 14px;
                }
                @include ipad{
                    font-size: 16px;
                }
            }
            
            p{
                font-weight: bold;
                font-style: italic;
                font-size: 12px;
                
                @include verysmallscreen{
                    font-size: 10px;
                }
                @include galaxyfold{
                    font-size: 10px;
                }
                @include midscreen{
                    font-size: 9px;
                }
            }
            a{
                @include btn($bg_yellow,$bg_black);
                padding: 5px 15px;
                @include midscreen{
                    padding: 2px 10px;
                }
                a{
                    font-size: 8px;
                }
            }
        }
    }

    .designer{
        text-align: center;
        margin: 50px 0;
        h2{
            color: transparent;
            -webkit-text-stroke: $text-outline;
            margin: 0;
            margin-bottom: 20px;
        }
    
        p{
            font-family: $heading-style;
            color: $bg_grey;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            line-height: 2;
            letter-spacing: 0.1em;
            font-size: 25.5px;
            @include verysmallscreen{
                font-size: 10px;
            }
            @include galaxyfold{
                font-size: 8px;
            }
            @include mobile{
                font-size: 12px;
            }
            @include ipad{
                font-size: 17.5px;
            }
            @include midscreen{
                font-size: 11.5px;
            }
           @include mediumscreen{
               font-size: 16.5px;
           }
            @include tab{
                font-size: 21.5px;
            }
        }
        .shift{
            margin-left: 120px;
            @include verysmallscreen{
                margin-left: 20px;
            }
            @include ipad{
                margin-left: 45px;
            }
            @include mediumscreen{
                margin-left: 50px;
            }
            @include galaxyfold{
                margin-left: 20px;
            }
            @include mobile{
                margin-left: 30px;
            }
            @include midscreen{
                margin-left: 35px;
            }
            @include tab{
                margin-left: 50px;
            }
        }
    
        a{
            @include btn(transparent,$bg_yellow);
            display: inline-block;
            margin-top: 20px;
            padding: 8px 20px;
            font-weight: bold;
        }
    }
}

.body5{
    @include body-design;
    background-color: $bg_black;
    @include noise;
    height:auto;
    padding:0;
    color: $bg_black;
    .bg-image2{
        top: 15%;
        position: absolute;
        left: -3%;
        width: 18%;
        transform: rotate(185deg);
        @include verysmallscreen{
            top: 7%;
            width: 20%;
        }
        @include galaxyfold{
            top: 7%;
            width: 20%;
        }
        @include mobile{
            top: 7%;
            width: 22%;
        }
    }
    .grid-b5{
        display:grid;
        grid-template-columns: 60% 40%;
        @include verysmallscreen{
            grid-template-columns: auto;
        }
        @include galaxyfold{
            grid-template-columns: auto;
        }
        @include mobile{
         grid-template-columns: auto;
     }  
    }
    .text{
        padding: 20% 0;
        background-color: $bg_yellow;
        text-align: center;
        height: 100%;
        .content5{
            text-align: center;
            width: 60%;
            margin: 0 auto;
            @include verysmallscreen{
                width: 80%;
            }
            @include mobile{
                width: 70%;
            }
            @include galaxyfold{
                width: 80%;
            }
            @include midscreen{
                width: 70%;
            }
            @include mediumscreen{
                width: 70%;
            }
            @include ipad{
                width: 65%;
            }
            .b5-para{
                width: 60%;
                margin:0 auto;
                @include verysmallscreen{
                    width: 70%;
                }
                @include mobile{
                    width: 70%;
                }
                @include mediumscreen{
                    width: 70%;
                }
                p{
                    font-style: italic;font-size: 14px;
                    font-weight: bold;
                    @include midscreen{
                        font-size: 10px;
                    }
                    @include mediumscreen{
                        font-size: 14px;
                    }
                    @include verysmallscreen{
                        font-size: 10px;
                    }
                    @include galaxyfold{
                        font-size: 10px;
                    }
                    @include mobile{
                        font-size: 12px;
                    }
                }
            }
            
            h3{
                font-size: 70px;
                line-height: 1.25;
                margin:15px 0;
                @include midscreen{
                    font-size: 30px;
                }
                @include galaxyfold{
                    font-size: 30px;
                }
                @include tab{
                    font-size: 45px;
                }
                @include mediumscreen{
                    font-size: 44px;
                }
                @include verysmallscreen{
                    font-size: 40px;
                }
                @include mobile{
                    font-size: 30px;
                }
                @include ipad{
                    font-size: 45px;
                }
            }
            .input-email{
                display: flex;
                place-items: center;
                position: relative;
                i{
                    position: absolute;
                    right: 15%;
                }
                input[type=text]{
                    padding: 15px;
                    width: 70%;
                    margin: 0 auto;
                    background-color: transparent;
                    position: relative;
                    border: 3px solid $bg_black;
                    color: $bg_black;
                    float: left;
                    background-color: transparent;
                    
                }
                ::placeholder{
                    color: $bg_black;
                }
                @include clearfix;
            }
            .plus-icon{
                margin-top: 100px;
                #fade{
                    opacity: 0.5;
                }
                i{
                    font-size: 25px;
                    margin-right: 20px;
                    
                }
            }
        }
    }

    .image{
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @include clearfix;
    
}

.footer{
    @include body-design;
    background-color: $bg_black;
    @include noise;
    .footer-radial{
        @include radial;
        left: 50%;
        transform: translateX(-50%);
        bottom: -110%;
        @include mobile{
            bottom: -40%;
        }
        @include mediumscreen{
            bottom: -60%;
        }
        @include verysmallscreen{
            bottom: -40%;
        }
        @include midscreen{
            bottom: -40%;
        }
        @include galaxyfold{
            bottom: -40%;
        }
    }
    &-grid{
        div{
            z-index: 2;
        }
       @include grid-mixin(4,0,85px);
       @include verysmallscreen{
           grid-template-columns: auto;
       }
       @include galaxyfold{
        grid-template-columns: auto;
    }
       @include mobile{ 
        grid-template-columns: auto;
    }
    @include midscreen{
        grid-template-columns: auto;
    }
    @include mediumscreen{
        display: grid;
        grid-template-columns: auto;
    }
    @include ipad{
        grid-column-gap: 20px;
    }
    @include tab{
        grid-column-gap: 40px;
    }
        h4{
            color: $bg_yellow;
            font-size: 25px;
            @include verysmallscreen{
                font-size: 12px;
            }
            @include galaxyfold{
                font-size: 10px;
            }
            @include mobile{
                font-size: 10px;
            }
        }

        ul {
            padding: 0;
            }
            li{
                list-style-type: none;
                padding: 0;
                @include verysmallscreen{
                    display: inline;
                    margin-right: 10px;
                }
                @include galaxyfold{
                    display: inline;
                    margin-right: 10px;
                }
                @include mobile{
                    display: inline;
                    margin-right: 10px;
                }
                @include midscreen{
                    display: inline;
                    margin-right: 10px;
                }
                @include mediumscreen{
                    display: inline;
                    margin-right: 10px;
                }
                a{
                    font-family:$info-style;
                    cursor: pointer;
                    color: $bg_grey;
                    font-size: 14px;
                    @include galaxyfold{
                        font-size: 9px;
                    }
                    @include verysmallscreen{
                        font-size: 10px;
                    }
                    @include mediumscreen{
                        font-size: 20px;
                    }
                }
            
        }
         
        
    }
    h4{
        color: $bg_yellow;
        @include verysmallscreen{
            font-size: 12px;
        }
        @include galaxyfold{
            font-size: 12px;
        }
        @include midscreen{
            font-size: 15px;
        }
        @include mobile{
            font-size: 14px;
        }
        @include ipad{
            font-size: 20px;
        }
    }
}