body {
  margin: 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div h2, div h3, div h4 {
  font-family: "Dela Gothic One", cursive;
  font-weight: normal;
}

div h2 {
  font-size: 170px;
}

@media screen and (max-width: 300px) {
  div h2 {
    font-size: 35px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  div h2 {
    font-size: 45px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  div h2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  div h2 {
    font-size: 110px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  div h2 {
    font-size: 70px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  div h2 {
    font-size: 95px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  div h2 {
    font-size: 122px;
  }
}

div h3 {
  font-size: 50px;
}

@media screen and (max-width: 300px) {
  div h3 {
    font-size: 11px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  div h3 {
    font-size: 15px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  div h3 {
    font-size: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  div h3 {
    font-size: 38px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  div h3 {
    font-size: 22px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  div h3 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  div h3 {
    font-size: 45px;
  }
}

div p {
  font-family: "Chivo", sans-serif;
}

svg {
  width: 200px;
  height: 200px;
}

.box {
  background-color: black;
  width: 100%;
}

.body1 {
  background-color: #252524;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.body1::before {
  content: "";
  background-image: url(noise.svg);
  background-size: 200px 166px;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.2;
  height: 100%;
  z-index: -1;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 300px) {
  .body1 {
    width: 100%;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body1 {
    width: 100%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body1 {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body1 {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body1 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body1 {
    width: 100%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body1 {
    width: 100%;
  }
}

.body1 .bg-noise {
  left: 50%;
  z-index: -1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -30%;
  content: '';
  position: absolute;
  width: 40rem;
  height: 40rem;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  background: radial-gradient(circle, #D9F41B 0%, 20%, transparent 60%);
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body1 .bg-noise {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body1 .bg-noise {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body1 .bg-noise {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 300px) {
  .body1 .bg-noise {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body1 .bg-noise {
    top: -60%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body1 .bg-noise {
    top: -60%;
  }
}

@media screen and (max-width: 300px) {
  .body1 .bg-noise {
    top: -60%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body1 .bg-noise {
    top: -40%;
  }
}

.body1 #searchplace {
  display: none;
  background-color: transparent;
  color: #DED9D2;
  border-bottom: 2px solid #DED9D2;
  font-family: "Chivo", sans-serif;
}

.body1 ::-webkit-input-placeholder {
  color: #DED9D2;
}

.body1 :-ms-input-placeholder {
  color: #DED9D2;
}

.body1 ::-ms-input-placeholder {
  color: #DED9D2;
}

.body1 ::placeholder {
  color: #DED9D2;
}

.body1 .collapse {
  display: none;
  text-align: center;
  padding: 10px;
  height: 100%;
  z-index: 1;
  width: 100%;
}

.body1 .collapse ul {
  list-style-type: none;
  padding: 0;
}

.body1 .collapse ul li {
  padding: 25px;
  border-bottom: 0.5px dashed #DED9D2;
}

.body1 .collapse ul li a {
  cursor: pointer;
  font-family: "Chivo", sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: #DED9D2;
  font-weight: bold;
}

.body1 .collapse ul li a:hover {
  text-decoration: underline !important;
}

.body1 .content {
  position: relative;
}

.body1 .content .flower {
  position: absolute;
  right: 40px;
  width: 10%;
  text-align: center;
}

.body1 .content .flower-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.body1 .content .flower .text01 {
  color: #DED9D2;
  font-size: 25px;
  font-family: "Dela Gothic One", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 300px) {
  .body1 .content .flower .text01 {
    font-size: 8px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body1 .content .flower .text01 {
    font-size: 12px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body1 .content .flower .text01 {
    font-size: 12px;
    margin-top: -5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body1 .content .flower .text01 {
    font-size: 25px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body1 .content .flower .text01 {
    font-size: 15px;
    margin-top: -3px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body1 .content .flower .text01 {
    font-size: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body1 .content .flower .text01 {
    font-size: 18px;
    margin-top: -3px;
  }
}

.body1 .content .image-wrapper {
  position: relative;
  text-align: center;
  width: 35%;
  height: 100%;
  margin: 0 auto;
  z-index: 0;
}

.body1 .content .image img {
  width: 100%;
  height: 100%;
}

.body1 .content .ethical h2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  color: #D9F41B;
  position: absolute;
  left: -92%;
  position: absolute;
  z-index: -1;
}

.body1 .content .ethical h2.stroke {
  color: transparent;
  -webkit-text-stroke: 2px #D9F41B;
  z-index: 2;
}

.body1 .content .fashion h2 {
  top: 60%;
  color: #D9F41B;
  right: -92%;
  margin: 0;
  position: absolute;
  z-index: -1;
}

.body1 .content .fashion h2.stroke {
  color: transparent;
  -webkit-text-stroke: 2px #D9F41B;
  z-index: 2;
}

.body1 .content .content1 {
  position: absolute;
  width: 53%;
  text-align: left;
  top: 70%;
  left: -275px;
}

@media screen and (max-width: 300px) {
  .body1 .content .content1 {
    left: -70%;
    width: 70%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body1 .content .content1 {
    left: -70%;
    width: 70%;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body1 .content .content1 {
    left: -80px;
    width: 60%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body1 .content .content1 {
    width: 65%;
    left: -70%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body1 .content .content1 {
    left: -70%;
    width: 65%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body1 .content .content1 {
    width: 70%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body1 .content .content1 {
    left: -70%;
    width: 70%;
  }
}

.body1 .content .content1 p {
  color: #DED9D2;
  font-style: italic;
  font-size: 13px;
  font-weight: bold;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body1 .content .content1 p {
    font-size: 6px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body1 .content .content1 p {
    font-size: 8px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body1 .content .content1 p {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .body1 .content .content1 p {
    font-size: 5px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body1 .content .content1 p {
    font-size: 12px;
  }
}

.body1 .content .content1 a {
  background-color: #D9F41B;
  border: 2px solid #D9F41B;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 20px;
  line-height: 1.6;
  text-decoration: none;
  color: #252524;
  font-weight: 900;
  font-size: 14px;
  margin: 0 auto;
}

.body1 .content .content1 a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body1 .content .content1 a {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 300px) {
  .body1 .content .content1 a {
    padding: 2px 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body1 .content .content1 a {
    font-size: 9px;
  }
}

@media screen and (max-width: 300px) {
  .body1 .content .content1 a {
    font-size: 8px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body1 .content .content1 a {
    padding: 1px 5px;
    font-size: 8px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body1 .content .content1 a {
    padding: 1px 5px;
    font-size: 8px;
  }
}

@media screen and (max-width: 300px) {
  .body1 .content .content1 a {
    font-size: 5px;
    padding: 1px 4px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body1 .content .content1 a {
    padding: 1px 10px;
  }
}

.body1 .container {
  z-index: 0;
}

.body1 .navbar {
  height: auto;
  z-index: 1;
}

.body1 .navbar .icons {
  float: right;
}

.body1 .navbar i {
  cursor: pointer;
}

.body1 .arrow {
  margin: 20px auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.body1 i {
  color: #D9F41B;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 3px;
}

.container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

@media screen and (max-width: 300px) {
  .container {
    width: 220px;
    padding: 20px 0;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .container {
    width: 270px;
    padding: 20px 0;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .container {
    width: 350px;
    padding: 20px 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .container {
    width: 450px;
    padding: 20px 0;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 620px;
    padding: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .container {
    width: 760px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .container {
    width: 900px;
  }
}

.body2 {
  background-color: #D9F41B;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .body2 {
    padding: 100px 0;
  }
}

.body2 .bg-image {
  position: absolute;
  bottom: 15%;
  width: 25%;
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
  left: -3%;
}

.body2 .bg-image1 {
  position: absolute;
  top: 15%;
  width: 25%;
  right: -3%;
}

@media screen and (max-width: 300px) {
  .body2 {
    width: 100%;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body2 {
    width: 100%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body2 {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body2 {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body2 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body2 {
    width: 100%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body2 {
    width: 100%;
  }
}

.body2 i {
  color: black;
  font-size: 30px;
  margin-right: 10px;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body2 i {
    font-size: 15px;
  }
}

@media screen and (max-width: 300px) {
  .body2 i {
    font-size: 10px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body2 i {
    font-size: 18px;
  }
}

.body2 #faded {
  opacity: 0.5;
}

.body2 .container {
  padding: 50px 0;
}

.body2 .content2 {
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body2 .content2 {
    width: 70%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body2 .content2 {
    width: 75%;
  }
}

.body2 .content2 p {
  font-size: 15px;
  font-style: italic;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body2 .content2 p {
    font-size: 20px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body2 .content2 p {
    font-size: 12px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body2 .content2 p {
    font-size: 15px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body2 .content2 p {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  .body2 .content2 p {
    font-size: 10px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body2 .content2 p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body2 .content2 p {
    font-size: 20px;
  }
}

.body3 {
  background-color: #252524;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.body3 .b3-radial {
  content: '';
  position: absolute;
  width: 40rem;
  height: 40rem;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  background: radial-gradient(circle, #D9F41B 0%, 20%, transparent 60%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 5%;
  right: -20%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body3 .b3-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .b3-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .b3-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 300px) {
  .body3 .b3-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .b3-radial {
    top: 2%;
    right: -40%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body3 .b3-radial {
    right: -40%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body3 .b3-radial {
    right: -40%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .b3-radial {
    right: -30%;
  }
}

@media screen and (max-width: 300px) {
  .body3 .b3-radial {
    top: 1%;
    right: -60%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body3 .b3-radial {
    right: -30%;
  }
}

.body3 .b3-radial2 {
  content: '';
  position: absolute;
  width: 40rem;
  height: 40rem;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  background: radial-gradient(circle, #D9F41B 0%, 20%, transparent 60%);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 27%;
  left: -20%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body3 .b3-radial2 {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .b3-radial2 {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .b3-radial2 {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 300px) {
  .body3 .b3-radial2 {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .b3-radial2 {
    left: -40%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body3 .b3-radial2 {
    left: -40%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body3 .b3-radial2 {
    left: -40%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .b3-radial2 {
    left: -30%;
    bottom: 50%;
  }
}

@media screen and (max-width: 300px) {
  .body3 .b3-radial2 {
    left: -60%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body3 .b3-radial2 {
    left: -30%;
  }
}

.body3::before {
  content: "";
  background-image: url(noise.svg);
  background-size: 200px 166px;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.2;
  height: 100%;
  z-index: -1;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 300px) {
  .body3 {
    width: 100%;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 {
    width: 100%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body3 {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body3 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body3 {
    width: 100%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body3 {
    width: 100%;
  }
}

.body3 .f1 {
  position: absolute;
  bottom: 22%;
  right: -10%;
  width: 25%;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .f1 {
    bottom: 25%;
    width: 30%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body3 .f1 {
    bottom: 25%;
    width: 30%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body3 .f1 {
    bottom: 25%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body3 .f1 {
    bottom: 28%;
  }
}

@media screen and (max-width: 300px) {
  .body3 .f1 {
    bottom: 25%;
    width: 40%;
    right: -20%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body3 .f1 {
    bottom: 22%;
    width: 25%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .f1 {
    bottom: 40%;
  }
}

.body3 .f2 {
  position: absolute;
  bottom: 0%;
  left: -5%;
  width: 10%;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .f2 {
    width: 15%;
  }
}

.body3 h2 {
  text-align: center;
  color: #D9F41B;
  margin: 0 0 60px 0;
}

@media screen and (max-width: 300px) {
  .body3 h2 {
    margin: 0 0 20px 0;
  }
}

.body3 h2 span {
  color: transparent;
  -webkit-text-stroke: 2px #D9F41B;
}

.body3 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 100px;
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body3 .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 300px) {
  .body3 .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 20px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body3 .grid-container {
    grid-column-gap: 60px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .grid-container {
    grid-column-gap: 60px;
  }
}

.body3 .grid-container .grid2, .body3 .grid-container .grid4 {
  margin-top: 100px;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .grid-container .grid2, .body3 .grid-container .grid4 {
    margin: 0;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body3 .grid-container .grid2, .body3 .grid-container .grid4 {
    margin: 0;
  }
}

@media screen and (max-width: 300px) {
  .body3 .grid-container .grid2, .body3 .grid-container .grid4 {
    margin: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .grid-container .grid2, .body3 .grid-container .grid4 {
    margin-top: 60px;
  }
}

.body3 .grid-container .grid1, .body3 .grid-container .grid2, .body3 .grid-container .grid3, .body3 .grid-container .grid4 {
  z-index: 2;
}

.body3 .grid-container img {
  width: 100%;
}

.body3 .grid-container a {
  background-color: transparent;
  border: 2px solid #D9F41B;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 20px;
  line-height: 1.6;
  text-decoration: none;
  color: #D9F41B;
  font-weight: 900;
  font-size: 14px;
  float: right;
}

.body3 .grid-container a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .grid-container a {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 300px) {
  .body3 .grid-container a {
    padding: 2px 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .grid-container a {
    font-size: 9px;
  }
}

@media screen and (max-width: 300px) {
  .body3 .grid-container a {
    font-size: 8px;
  }
}

.body3 .grid-container .shop {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body3 .grid-container .b3-text {
  color: #DED9D2;
}

.body3 .grid-container .b3-text h4 {
  margin: 0;
  font-size: 25px;
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .grid-container .b3-text h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  .body3 .grid-container .b3-text h4 {
    font-size: 15px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .grid-container .b3-text h4 {
    font-size: 20px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body3 .grid-container .b3-text h4 {
    font-size: 20px;
  }
}

.body3 .grid-container .b3-text p {
  margin: 0;
  font-size: 16px;
}

.body3 .arrow-div {
  margin: 70px auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

.body3 .arrow-div i {
  color: #D9F41B;
  font-weight: 900;
}

.body3 .arrow-div p {
  color: #DED9D2;
}

.body3 .body3-2 h3 {
  padding-right: 20%;
  -webkit-text-stroke: 2px #D9F41B;
  color: transparent;
  text-align: left;
  font-size: 70px;
}

@media screen and (max-width: 300px) {
  .body3 .body3-2 h3 {
    font-size: 20px;
    padding-right: 0;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .body3-2 h3 {
    font-size: 22px;
    padding-right: 10%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body3 .body3-2 h3 {
    font-size: 25px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body3 .body3-2 h3 {
    font-size: 54px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .body3-2 h3 {
    font-size: 35px;
    padding: 0;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body3 .body3-2 h3 {
    font-size: 50px;
    padding-right: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body3 .body3-2 h3 {
    padding-right: 15%;
  }
}

.body3 .body3-2 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 100px;
  color: #DED9D2;
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body3 .body3-2 .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 0px;
  }
}

@media screen and (max-width: 300px) {
  .body3 .body3-2 .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 0px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .body3-2 .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 0px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .body3-2 .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 0px;
  }
}

.body3 .body3-2 .grid-container p {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .body3-2 .grid-container p {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  .body3 .body3-2 .grid-container p {
    font-size: 10px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body3 .body3-2 .grid-container p {
    font-size: 13px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body3 .body3-2 .grid-container h4 {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .body3 .body3-2 .grid-container h4 {
    font-size: 8px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body3 .body3-2 .grid-container h4 {
    font-size: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body3 .body3-2 .grid-container h4 {
    font-size: 10px;
  }
}

.body4 {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #252524;
  height: auto;
}

@media screen and (max-width: 300px) {
  .body4 {
    width: 100%;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body4 {
    width: 100%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body4 {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body4 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body4 {
    width: 100%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body4 {
    width: 100%;
  }
}

.body4::before {
  content: "";
  background-image: url(noise.svg);
  background-size: 200px 166px;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.2;
  height: 100%;
  z-index: -1;
  width: 100%;
  position: absolute;
}

.body4 .b4-radial {
  content: '';
  position: absolute;
  width: 40rem;
  height: 40rem;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  background: radial-gradient(circle, #D9F41B 0%, 20%, transparent 60%);
  width: 65rem;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body4 .b4-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body4 .b4-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 .b4-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 300px) {
  .body4 .b4-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body4 .b4-radial {
    top: 70%;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body4 .b4-radial {
    top: 70%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body4 .b4-radial {
    top: 20%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body4 .b4-radial {
    top: 20%;
  }
}

@media screen and (max-width: 300px) {
  .body4 .b4-radial {
    top: 60%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body4 .b4-radial {
    top: 30%;
  }
}

.body4 .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 0;
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body4 .wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (max-width: 300px) {
  .body4 .wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body4 .wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.body4 .wrapper .w1, .body4 .wrapper .w2, .body4 .wrapper .w3, .body4 .wrapper .w4 {
  position: relative;
}

.body4 .wrapper img {
  width: 100%;
  height: 100%;
}

.body4 .wrapper .image-caption {
  position: absolute;
  z-index: 1;
  overflow-wrap: break-word;
  color: #D9F41B;
  width: 35%;
  text-align: center;
  margin: auto;
  bottom: 30px;
  left: 0;
  right: 0;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body4 .wrapper .image-caption {
    width: 60%;
  }
}

@media screen and (max-width: 300px) {
  .body4 .wrapper .image-caption {
    width: 60%;
    bottom: 15px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body4 .wrapper .image-caption {
    width: 58%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body4 .wrapper .image-caption {
    width: 50%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body4 .wrapper .image-caption {
    width: 50%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 .wrapper .image-caption {
    width: 70%;
    bottom: 15px;
  }
}

.body4 .wrapper .image-caption h4 {
  margin: 0;
  font-size: 20px;
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body4 .wrapper .image-caption h4 {
    font-size: 16px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body4 .wrapper .image-caption h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 300px) {
  .body4 .wrapper .image-caption h4 {
    font-size: 14px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 .wrapper .image-caption h4 {
    font-size: 14px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body4 .wrapper .image-caption h4 {
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body4 .wrapper .image-caption h4 {
    font-size: 16px;
  }
}

.body4 .wrapper .image-caption p {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body4 .wrapper .image-caption p {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .body4 .wrapper .image-caption p {
    font-size: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 .wrapper .image-caption p {
    font-size: 9px;
  }
}

.body4 .wrapper .image-caption a {
  background-color: #D9F41B;
  border: 2px solid #D9F41B;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 20px;
  line-height: 1.6;
  text-decoration: none;
  color: #252524;
  font-weight: 900;
  font-size: 14px;
  padding: 5px 15px;
}

.body4 .wrapper .image-caption a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 .wrapper .image-caption a {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 300px) {
  .body4 .wrapper .image-caption a {
    padding: 2px 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 .wrapper .image-caption a {
    font-size: 9px;
  }
}

@media screen and (max-width: 300px) {
  .body4 .wrapper .image-caption a {
    font-size: 8px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 .wrapper .image-caption a {
    padding: 2px 10px;
  }
}

.body4 .wrapper .image-caption a a {
  font-size: 8px;
}

.body4 .designer {
  text-align: center;
  margin: 50px 0;
}

.body4 .designer h2 {
  color: transparent;
  -webkit-text-stroke: 2px #D9F41B;
  margin: 0;
  margin-bottom: 20px;
}

.body4 .designer p {
  font-family: "Dela Gothic One", cursive;
  color: #DED9D2;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2;
  letter-spacing: 0.1em;
  font-size: 25.5px;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body4 .designer p {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .body4 .designer p {
    font-size: 8px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body4 .designer p {
    font-size: 12px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body4 .designer p {
    font-size: 17.5px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 .designer p {
    font-size: 11.5px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body4 .designer p {
    font-size: 16.5px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body4 .designer p {
    font-size: 21.5px;
  }
}

.body4 .designer .shift {
  margin-left: 120px;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body4 .designer .shift {
    margin-left: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body4 .designer .shift {
    margin-left: 45px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body4 .designer .shift {
    margin-left: 50px;
  }
}

@media screen and (max-width: 300px) {
  .body4 .designer .shift {
    margin-left: 20px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body4 .designer .shift {
    margin-left: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 .designer .shift {
    margin-left: 35px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body4 .designer .shift {
    margin-left: 50px;
  }
}

.body4 .designer a {
  background-color: transparent;
  border: 2px solid #D9F41B;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 20px;
  line-height: 1.6;
  text-decoration: none;
  color: #D9F41B;
  font-weight: 900;
  font-size: 14px;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  font-weight: bold;
}

.body4 .designer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 .designer a {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 300px) {
  .body4 .designer a {
    padding: 2px 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body4 .designer a {
    font-size: 9px;
  }
}

@media screen and (max-width: 300px) {
  .body4 .designer a {
    font-size: 8px;
  }
}

.body5 {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #252524;
  height: auto;
  padding: 0;
  color: #252524;
}

@media screen and (max-width: 300px) {
  .body5 {
    width: 100%;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body5 {
    width: 100%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body5 {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body5 {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body5 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body5 {
    width: 100%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body5 {
    width: 100%;
  }
}

.body5::before {
  content: "";
  background-image: url(noise.svg);
  background-size: 200px 166px;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.2;
  height: 100%;
  z-index: -1;
  width: 100%;
  position: absolute;
}

.body5 .bg-image2 {
  top: 15%;
  position: absolute;
  left: -3%;
  width: 18%;
  -webkit-transform: rotate(185deg);
          transform: rotate(185deg);
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body5 .bg-image2 {
    top: 7%;
    width: 20%;
  }
}

@media screen and (max-width: 300px) {
  .body5 .bg-image2 {
    top: 7%;
    width: 20%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body5 .bg-image2 {
    top: 7%;
    width: 22%;
  }
}

.body5 .grid-b5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body5 .grid-b5 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (max-width: 300px) {
  .body5 .grid-b5 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body5 .grid-b5 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.body5 .text {
  padding: 20% 0;
  background-color: #D9F41B;
  text-align: center;
  height: 100%;
}

.body5 .text .content5 {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body5 .text .content5 {
    width: 80%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body5 .text .content5 {
    width: 70%;
  }
}

@media screen and (max-width: 300px) {
  .body5 .text .content5 {
    width: 80%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body5 .text .content5 {
    width: 70%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body5 .text .content5 {
    width: 70%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body5 .text .content5 {
    width: 65%;
  }
}

.body5 .text .content5 .b5-para {
  width: 60%;
  margin: 0 auto;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body5 .text .content5 .b5-para {
    width: 70%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body5 .text .content5 .b5-para {
    width: 70%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body5 .text .content5 .b5-para {
    width: 70%;
  }
}

.body5 .text .content5 .b5-para p {
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body5 .text .content5 .b5-para p {
    font-size: 10px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body5 .text .content5 .b5-para p {
    font-size: 14px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body5 .text .content5 .b5-para p {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .body5 .text .content5 .b5-para p {
    font-size: 10px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body5 .text .content5 .b5-para p {
    font-size: 12px;
  }
}

.body5 .text .content5 h3 {
  font-size: 70px;
  line-height: 1.25;
  margin: 15px 0;
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .body5 .text .content5 h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 300px) {
  .body5 .text .content5 h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .body5 .text .content5 h3 {
    font-size: 45px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .body5 .text .content5 h3 {
    font-size: 44px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .body5 .text .content5 h3 {
    font-size: 40px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .body5 .text .content5 h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .body5 .text .content5 h3 {
    font-size: 45px;
  }
}

.body5 .text .content5 .input-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  position: relative;
}

.body5 .text .content5 .input-email i {
  position: absolute;
  right: 15%;
}

.body5 .text .content5 .input-email input[type=text] {
  padding: 15px;
  width: 70%;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
  border: 3px solid #252524;
  color: #252524;
  float: left;
  background-color: transparent;
}

.body5 .text .content5 .input-email ::-webkit-input-placeholder {
  color: #252524;
}

.body5 .text .content5 .input-email :-ms-input-placeholder {
  color: #252524;
}

.body5 .text .content5 .input-email ::-ms-input-placeholder {
  color: #252524;
}

.body5 .text .content5 .input-email ::placeholder {
  color: #252524;
}

.body5 .text .content5 .input-email::after {
  content: "";
  clear: both;
  display: table;
}

.body5 .text .content5 .plus-icon {
  margin-top: 100px;
}

.body5 .text .content5 .plus-icon #fade {
  opacity: 0.5;
}

.body5 .text .content5 .plus-icon i {
  font-size: 25px;
  margin-right: 20px;
}

.body5 .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body5::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #252524;
}

@media screen and (max-width: 300px) {
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .footer {
    width: 100%;
  }
}

.footer::before {
  content: "";
  background-image: url(noise.svg);
  background-size: 200px 166px;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.2;
  height: 100%;
  z-index: -1;
  width: 100%;
  position: absolute;
}

.footer .footer-radial {
  content: '';
  position: absolute;
  width: 40rem;
  height: 40rem;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  background: radial-gradient(circle, #D9F41B 0%, 20%, transparent 60%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -110%;
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .footer .footer-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .footer .footer-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .footer .footer-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 300px) {
  .footer .footer-radial {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .footer .footer-radial {
    bottom: -40%;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .footer .footer-radial {
    bottom: -60%;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .footer .footer-radial {
    bottom: -40%;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .footer .footer-radial {
    bottom: -40%;
  }
}

@media screen and (max-width: 300px) {
  .footer .footer-radial {
    bottom: -40%;
  }
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 85px;
}

.footer-grid div {
  z-index: 2;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .footer-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (max-width: 300px) {
  .footer-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .footer-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .footer-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .footer-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .footer-grid {
    grid-column-gap: 20px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .footer-grid {
    grid-column-gap: 40px;
  }
}

.footer-grid h4 {
  color: #D9F41B;
  font-size: 25px;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .footer-grid h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  .footer-grid h4 {
    font-size: 10px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .footer-grid h4 {
    font-size: 10px;
  }
}

.footer-grid ul {
  padding: 0;
}

.footer-grid li {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .footer-grid li {
    display: inline;
    margin-right: 10px;
  }
}

@media screen and (max-width: 300px) {
  .footer-grid li {
    display: inline;
    margin-right: 10px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .footer-grid li {
    display: inline;
    margin-right: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .footer-grid li {
    display: inline;
    margin-right: 10px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .footer-grid li {
    display: inline;
    margin-right: 10px;
  }
}

.footer-grid li a {
  font-family: "Chivo", sans-serif;
  cursor: pointer;
  color: #DED9D2;
  font-size: 14px;
}

@media screen and (max-width: 300px) {
  .footer-grid li a {
    font-size: 9px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .footer-grid li a {
    font-size: 10px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .footer-grid li a {
    font-size: 20px;
  }
}

.footer h4 {
  color: #D9F41B;
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .footer h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  .footer h4 {
    font-size: 12px;
  }
}

@media screen and (min-width: 481px) and (max-width: 540px) {
  .footer h4 {
    font-size: 15px;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .footer h4 {
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .footer h4 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=design-scss.css.map */